$primary-color: #5a4fcf;
$info-color: #5a4fcf;
$success-color: #6fcf97;
$warning-color: #f5a623;
$error-color: #f87060;

$font-family: "Arial", sans-serif;

// Controls
$button-primary: #5a4fcf;
$button-secondary: #efefef;
$icon-selected: #3f3a99;
$icon-default: #757575;
$button-green: #005c69;
$button-red-input-error: #f87060;
$input-empty: #efefef;
$input-active: #c5cad2;
$input-correct: #c5cad2;
$button-hover: #9067c6;
$button-progress: #3b82f6;
$secondary-button-hover: #d1ccc9;

// Text
$text-primary: #323232;
$text-secondary: #979797;
$text-disabled: #a0a5ae;

// Surfaces
$surface-selected: #e7f0f9;
$surface-hover: #f8f8f8;
$surface-page-background: #fbfbfb;
$surface-divider: #efefef;

// Additional colors
$additional-color-1: #fadbdf;
$additional-color-2: #fbe2c4;
$additional-color-3: #cecaf0;
$additional-color-4: #c7dfd6;
$additional-color-5: #e1bbc4;
$additional-color-6: #c6e0ed;

// Dashboard colors
$dashboard-color-1: #f5a623;
$dashboard-color-2: #4a90e2;
$dashboard-color-3: #333a56;
$dashboard-color-4: #6fcf97;
$dashboard-color-5: #673ab7;
$dashboard-color-6: #2d9cdb;

// Shadows
$shadow-popover: rgba(0, 0, 0, 0.25);
$shadow-dropdown-menu: rgba(0, 0, 0, 0.19);

// Text Colors
$text-color-1: #323232;
$text-color-2: #979797;
$text-color-3: #a0a5ae;
$text-color-4: #efefef;
$text-color-5: #fadbdf;
$text-color-6: #fbe2c4;
$text-color-7: #cecaf0;
$text-color-8: #c7dfd6;
$text-color-9: #e1bbc4;
$text-color-10: #c6e0ed;

// Highlight Color
$highlight-color-1: #e7f0f9;
$highlight-color-2: #f8f8f8;
$highlight-color-3: #fbfbfb;
$highlight-color-4: #efefef;
$highlight-color-5: #fadbdf;
$highlight-color-6: #fbe2c4;
$highlight-color-7: #cecaf0;
