@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.ant-menu-item-selected .ant-menu-title-content {
  font-weight: bold;
}

.ant-btn.ant-btn-primary a {
  color: #fff;
}




